# TP NoSQL

Prénom : Furkan

Nom : Narin

Pour ce TP noté vous avez trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [15]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet
!pip install pymongo pandas
!pip install --upgrade pandas ipython stack_data executing

pd.set_option('display.notebook_repr_html', False)
#J'ai ajouté des lignes pour pouvoir faire fonctionner me code sur mon ordi

Requirement already satisfied: pymongo in c:\users\mangal\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: pandas in c:\users\mangal\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\mangal\anaconda3\lib\site-packages (from pymongo) (2.6.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mangal\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pandas in c:\users\mangal\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: ipython in c:\users\mangal\anaconda3\lib\site-packages (8.27.0)
Requirement already satisfied: stack_data in c:\users\mangal\anaconda3\lib\site-packages (0.6.3)
Requirement already satisfied: executing in c:\users\mangal\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mangal\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: decorator in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (2.15.1)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (5.14.3)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (4.9.0)
Requirement already satisfied: colorama in c:\users\mangal\anaconda3\lib\site-packages (from ipython) (0.4.6)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mangal\anaconda3\lib\site-packages (from stack_data) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\mangal\anaconda3\lib\site-packages (from stack_data) (0.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\mangal\anaconda3\lib\site-packages (from asttokens>=2.1.0->stack_data) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mangal\anaconda3\lib\site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\mangal\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython) (0.2.5)

In [18]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://user_mongo:bnmwtepF3EKEVWKz@cluster-but-sd.i8rx5.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'movies']

1. Combien de films sont dans la base de données ?

In [24]:
res = db.movies.count_documents({})
print(f"Il y a {res} films dans cette base de données.")

Il y a 23530 films dans cette base de données.

2. Quel est le nombre moyen de votes par pays ? Trier les pays par nombre moyen de votes décroissant.

In [34]:
votes = db.movies.aggregate([
    { "$unwind": "$countries" },
    { "$group": {
        "_id": "$countries",
        "avgRating": { "$avg": "$imdb.rating" } 
    }},
    { "$sort": { "avgRating": -1 }}
])
print("On constate que le pays que le pays qui a la note moyenne la plus élevée est le Vanuatu, ensuite dans l'ordre le Bermuda et le Bangladesh.")
pd.DataFrame(list(votes))

On constate que le pays que le pays qui a la note moyenne la plus élevée est le Vanuatu, ensuite dans l'ordre le Bermuda et le Bangladesh.

                     _id  avgRating
0                Vanuatu   8.000000
1                Bermuda   7.900000
2             Bangladesh   7.800000
3                  Gabon   7.700000
4                  Kenya   7.700000
..                   ...        ...
153                Aruba   6.200000
154              Jamaica   5.966667
155                Zaire   5.900000
156              Nigeria   5.725000
157  Trinidad and Tobago   4.600000

[158 rows x 2 columns]

3. Donner la liste des différents genres de films.

In [35]:
li = db.movies.distinct( key="genres" )
print(f"Il y a des genres de films comme le documentaire, la biographie etc. Voici la liste complète : {li} ")

Il y a des genres de films comme le documentaire, la biographie etc. Voici la liste complète : ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']

4. Combien de films ont une note IMDb supérieure à 8 ?

In [36]:
x = db.movies.count_documents({
    "imdb.rating" : {"$gt": 8.0}
    })

print(f"Il y a {x} films qui ont une note IMDb supérieure à 8.")

Il y a 1177 films qui ont une note IMDb supérieure à 8.

5. Afficher le titre, l'année de sortie et les réalisateurs de tous les films (ne pas afficher l'ID).

In [37]:
films = db.movies.find(
    {},
    { "_id": 0 , "title": 1, "year": 1, 
  "directors": 1 }
)
print("Le premier film 'Intolerance: Love's Struggle Throughout the Ages' a été réalisé en 1916 par DW Griffith. Voici le reste : ")
pd.DataFrame(list(films))

Le premier film 'Intolerance: Love's Struggle Throughout the Ages' a été réalisé en 1916 par DW Griffith. Voici le reste :

                                                  title  \
0      Intolerance: Love's Struggle Throughout the Ages
1                             The Poor Little Rich Girl
2                                               The Kid
3                                        Miss Lulu Bett
4                                          Safety Last!
...                                                 ...
23525                                            Emelie
23526                                    Techo y comida
23527                                             Nahid
23528                                  Coin Locker Girl
23529                                 Tryapichnyy soyuz

                            directors  year
0                     [D.W. Griffith]  1916
1                  [Maurice Tourneur]  1917
2                   [Charles Chaplin]  1921
3               [William C. de Mille]  1921
4      [Fred C. Newmeyer, Sam Taylor]  1923
...                               ...   ...
23525                [Michael Thelin]  2015
23526      [Juan Miguel del Castillo]  2015
23527                [Ida Panahandeh]  2015
23528                   [Jun-hee Han]  2015
23529            [Mikhail Mestetskiy]  2015

[23530 rows x 3 columns]

6. Afficher le titre et le plot des films réalisés par D.W. Griffith.

In [38]:
dw = db.movies.find(
    { "directors": "D.W. Griffith" },
    { "_id": 0, "title": 1, "plot": 1 }
)
print(f"Voici les 4 films réalisés par D.W. Griffith comme le film 'A corner in Wheat' dans la deuxième ligne : ")
pd.DataFrame(list(dw))

Voici les 4 films réalisés par D.W. Griffith comme le film 'A corner in Wheat' dans la deuxième ligne :

                                                plot  \
0  The story of a poor young woman, separated by ...
1  A greedy tycoon decides, on a whim, to corner ...
2  A frail waif, abused by her brutal boxer fathe...
3  The Civil War divides friends and destroys fam...

                                              title
0  Intolerance: Love's Struggle Throughout the Ages
1                                 A Corner in Wheat
2    Broken Blossoms or The Yellow Man and the Girl
3                             The Birth of a Nation

7. Quels sont les 5 acteurs les plus populaires (ceux qui ont joué dans le plus de films) ?

In [39]:
top5_acteurs = db.movies.aggregate([
    { "$unwind": "$cast" },
    { "$sortByCount": "$cast"},
    { "$limit": 5}
])
print("Les acteurs les plus populaires sont par ordre décroissant de nombre de films sont : Gèrard Depardieu, Robert De Niro, Michael Caine et le reste dans la table suivante : ")
pd.DataFrame(list(top5_acteurs))

Les acteurs les plus populaires sont par ordre décroissant de nombre de films sont : Gèrard Depardieu, Robert De Niro, Michael Caine et le reste dans la table suivante :

                    _id  count
0      Gèrard Depardieu     68
1        Robert De Niro     60
2         Michael Caine     52
3  Marcello Mastroianni     50
4          Bruce Willis     49

8. Quelles sont les 6 années avec le plus de films produits ?

In [40]:
top6_year = db.movies.aggregate([
    { "$sortByCount": "$year" },
    { "$limit": 6 }
])
print("Les 6 années sont entre 2009 et 2014, et l'année avec le plus de films est 2013.")
pd.DataFrame(list(top6_year))

Les 6 années sont entre 2009 et 2014, et l'année avec le plus de films est 2013.

    _id  count
0  2013   1220
1  2014   1147
2  2012   1109
3  2011   1040
4  2009    990
5  2010    970

9. Combien de films ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 ?

In [51]:
films_avant_2000 = db.movies.count_documents({
    "year": {"$lt": 2000},
    "imbd.rating": {"$gt": 7}
})

print("Il y a aucun film qui a une note IMDb supérieure à 7 et qui a été réalisé avant 2000. ")
films_avant_2000

Il y a aucun film qui a une note IMDb supérieure à 7 et qui a été réalisé avant 2000.

0

10. Donner les 20 réalisateurs qui ont réalisé le plus de films (afficher seulement leur nom et le nombre de films).

In [58]:
real_20 = db.movies.aggregate([
    { "$unwind": "$directors" },
    { "$group": { "_id": "$directors", "nb_films": { "$sum": 1 }}},
    { "$sort": { "nb_films": -1 }},
    { "$limit": 20}
])
print("Le réalisateur qui a réalisé le plus de films est Woody Allen avec 40 films, John Ford et Takashi Miike le suivent en terme du nombre de films réalisés.")
pd.DataFrame(list(real_20))

Le réalisateur qui a réalisé le plus de films est Woody Allen avec 40 films, John Ford et Takashi Miike le suivent en terme du nombre de films réalisés.

                  _id  nb_films
0         Woody Allen        40
1           John Ford        35
2       Takashi Miike        34
3         John Huston        34
4       Werner Herzog        33
5     Martin Scorsese        32
6    Alfred Hitchcock        31
7        Sidney Lumet        30
8    Steven Spielberg        29
9     Mario Monicelli        29
10      Michael Apted        29
11       George Cukor        29
12      Robert Altman        28
13  Steven Soderbergh        28
14          Spike Lee        28
15        Wim Wenders        27
16          Ken Loach        27
17         Johnnie To        27
18    Jean-Luc Godard        27
19     Clint Eastwood        27

11. Quelle est la note IMDb moyenne des films sortis après 2010 ?

In [67]:
note_2010 = db.movies.aggregate([
    { "$match": { "year": { "$gt": 2010 } }},
    { "$group": {
        "_id": None,
        "noteMoy": { "$avg": "$imdb.rating" } 
    }}
])
print(f"On observe que la note moyenne IMBD des films sortis après 2010 est environ 6.5.")
pd.DataFrame(list(note_2010))

On observe que la note moyenne IMBD des films sortis après 2010 est environ 6.5.

    _id   noteMoy
0  None  6.544033

12. (bonus) Afficher les films dont le titre contient le mot "love".

In [92]:
love_titre = db.movies.find(
    { "title": { "$regex": " ^love |love | love$", "$options": "i" } }, 
    { "_id": 0, "title": 1 }
)
print("Il y a au total 314 films qui contiennet le mot 'love'")
pd.DataFrame(list(love_titre))

Il y a au total 314 films qui contiennet le mot 'love'

                               title
0                     Arise, My Love
1                  One Night of Love
2              Love Finds Andy Hardy
3                    Love Me Tonight
4                   Love on the Dole
..                               ...
310                   Autism in Love
311  Bang Gang (A Modern Love Story)
312                   Valley of Love
313              Cafè. Waiting. Love
314   Larry Kramer in Love and Anger

[315 rows x 1 columns]

13. (bonus) Afficher le titre des films ayant un score Rotten Tomatoes (viewer) supérieur à 75.

In [110]:
tomat_75 = db.movies.find(
    { "tomatoes.viewer.meter": { "$gt": 75 } },
    { "_id": 0, "title": 1,  "tomatoes.viewer.meter":1}
)
print("Il y a au total 6601 films avec un score Rotten Tomatoes supérieur à 75. Voici la liste : ")
pd.DataFrame(list(tomat_75))

Il y a au total 6601 films avec un score Rotten Tomatoes supérieur à 75. Voici la liste :

                                                 title  \
0     Intolerance: Love's Struggle Throughout the Ages
1                            The Poor Little Rich Girl
2                                              The Kid
3                                         Safety Last!
4                                         Wild Oranges
...                                                ...
6597                                             Luton
6598                                       Amira & Sam
6599                                     Misconception
6600                                             Grace
6601                         Batman: Assault on Arkham

                        tomatoes
0      {'viewer': {'meter': 78}}
1      {'viewer': {'meter': 77}}
2      {'viewer': {'meter': 96}}
3      {'viewer': {'meter': 93}}
4      {'viewer': {'meter': 91}}
...                          ...
6597  {'viewer': {'meter': 100}}
6598   {'viewer': {'meter': 76}}
6599  {'viewer': {'meter': 100}}
6600   {'viewer': {'meter': 86}}
6601   {'viewer': {'meter': 86}}

[6602 rows x 2 columns]